* {
    margin:0;
    padding: 0;
}

.cabecalho {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 23%, rgba(9,9,121,1) 43%, rgba(9,50,125,1) 67%, rgba(0,86,255,1) 100%);
    width:100%;
height: max-content;
}
.cabecalho-imagem {
    width: 100%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

body {
    font-family: 'Poppins';
}
.video {
width: 360px;
height: 250px;
}